Завдання з зірочкою

In [1]:
# Стандартно імпортєм бібліотеки
import pandas as pd
import numpy as np

In [2]:
# Створюємо данні з numpy через генератори, можна по різному
x = np.array([x for x in range(2, 100)])
y = np.array([y for y in range(2, 100)])

In [3]:
# Пусті списку
ls = []
res = []

# Добутки сумми і т.д. можна було більш лаконічно
for i in range(2, 100):
  ls.append(i)
  for j in range(2, 100):
    if j not in ls:
      res.append([i, j, i * j, i +j])

# Це по факту не потрібно бо під dot не пдходить но хай буде
diagonal = [[i, i, i * i, 2 * i] for i in range(2, 100)]
res += diagonal

# Для зручності
df_res = pd.DataFrame(res, columns=['a', 'b', 'dot', 'sum'])
df_res

       a   b   dot  sum
0      2   3     6    5
1      2   4     8    6
2      2   5    10    7
3      2   6    12    8
4      2   7    14    9
...   ..  ..   ...  ...
4846  95  95  9025  190
4847  96  96  9216  192
4848  97  97  9409  194
4849  98  98  9604  196
4850  99  99  9801  198

[4851 rows x 4 columns]

In [4]:
# Просто глянути
s = df_res['dot'].value_counts()
s[s>1].index

Index([ 360,  720,  240, 1440,  180,  504,  480,  420, 1260,  840,
       ...
        188,  574,  148, 1230,  492, 1215,  518, 5148, 1125,  928],
      dtype='int64', name='dot', length=1068)

In [5]:
# Перша умова
indices = s[s > 1].index
df_res = df_res.loc[df_res['dot'].isin(indices)]
df_res

       a   b   dot  sum
3      2   6    12    8
5      2   8    16   10
6      2   9    18   11
7      2  10    20   12
9      2  12    24   14
...   ..  ..   ...  ...
4814  63  63  3969  126
4817  66  66  4356  132
4821  70  70  4900  140
4823  72  72  5184  144
4835  84  84  7056  168

[3076 rows x 4 columns]

In [6]:
# Так само просто глянути
s = df_res['sum'].value_counts()
s[s==1].index

Index([165, 7, 173, 176, 179, 172, 175, 178, 168], dtype='int64', name='sum')

In [7]:
# Друга умова і результат
indices = s[s == 1].index
df_res = df_res.loc[df_res['sum'].isin(indices)]
df_res

       a   b   dot  sum
97     3   4    12    7
4314  69  96  6624  165
4518  77  96  7392  173
4541  78  98  7644  176
4581  80  99  7920  179
4636  84  88  7392  172
4639  84  91  7644  175
4688  88  90  7920  178
4835  84  84  7056  168

По різному можна рішати, тупо в лоб, або математично через властивості чисел і т.д., це в лоб