In [1]:
import os
from surprise import Reader, Dataset, SVD
from surprise.model_selection import cross_validate
from surprise.model_selection import KFold
import pandas as pd 
import numpy as np 
import warnings

warnings.filterwarnings('ignore')

In [2]:
path = os.path.join(os.getcwd(), 'DATA/ratings_small.csv')

In [3]:
reader = Reader()
ratings = pd.read_csv(path)
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
data = Dataset.load_from_df(ratings[['userId', 'movieId', 'rating']], reader)
kf = KFold(n_splits=5)
kf.split(data)
svd = SVD()
cross_validat = cross_validate(svd, data, measures=['RMSE', 'MAE'], cv=kf, verbose=True)
pd.DataFrame(cross_validat)

Evaluating RMSE, MAE of algorithm SVD on 5 split(s).

                  Fold 1  Fold 2  Fold 3  Fold 4  Fold 5  Mean    Std
RMSE (testset)    0.9018  0.8904  0.8943  0.8970  0.8987  0.8964  0.0039
MAE (testset)     0.6956  0.6868  0.6891  0.6899  0.6913  0.6906  0.0029
Fit time          0.83    0.82    0.85    0.88    0.83    0.84    0.02
Test time         0.07    0.07    0.12    0.11    0.16    0.11    0.03

   test_rmse  test_mae  fit_time  test_time
0   0.901804  0.695618  0.825310   0.068978
1   0.890372  0.686804  0.824481   0.067822
2   0.894254  0.689126  0.851934   0.121106
3   0.897049  0.689947  0.880875   0.111764
4   0.898743  0.691283  0.830216   0.155572

In [5]:
trainset = data.build_full_trainset()
svd.fit(trainset)

In [6]:
svd.predict(1, 100, verbose=True)

user: 1          item: 100        r_ui = None   est = 2.33   {'was_impossible': False}

Prediction(uid=1, iid=100, r_ui=None, est=2.3315088829798865, details={'was_impossible': False})

# Для першоко користувача 100 фільм рейтинг 2.43